.right {
  margin: 0 auto;
  float: left;
  width: 300px;
}

.button-container {
  margin: 0;
  float: left;
}

.final-choice {
  margin: 0 px;
  float: left;
  height: 100px;
  width: 150px;
}

.final-choice-text {
  margin: 30px 0;
  text-align: center;
}

.start,
.stop {
  margin-right: 20px;
}